#### 문제점
- 1. 0번이 nan 값으로 뽑혀가지고. 1000개를 추출했지만 999개이다.

In [66]:
import pandas as pd

In [326]:
df = pd.read_csv(r"C:\Users\asia\Desktop\ai_project\슬리브리스\슬리브리스_p11_124867668.csv")
df

,아이디,리뷰어 등급,작성 날짜,옵션1,옵션2,상품 사이즈,퀄리티,색감,키,몸무게,사이즈,리뷰내용
0,가을딥다크,NaN,24.06.27,[TT242] 슬론 골지 나시_연그레이,NaN,정사이즈예요,아주 만족해요,화면과 비슷해요,159cm,58kg,상의 55,159/60\n전체적으로 만족합니당~~\n항상 나시 사면 복부 기장이 짧아서 너무 ...
1,ihihfrNq,NaN,24.06.16,[TT242] 슬론 골지 나시_아이보리,NaN,정사이즈예요,보통이에요,화면과 비슷해요,158cm,46kg,상의 55,아직 세탁 전이긴 하지만 재질자체는 마음에 들어요 흰색이라 어쩔수 없이 비치긴 하네...
2,한공주,NaN,24.05.09,[TT242] 슬론 골지 나시_블랙,NaN,정사이즈예요,아주 만족해요,화면과 비슷해요,162cm,60kg,상의 55,부유방 커버 나시 찾으시는 분들 그냥 믿고 사시면 될듯 …:0 그냥 역대로 짱짱하게...
3,YNqDJPGN,상위 25%,24.04.25,[TT242] 슬론 골지 나시_아이보리,NaN,정사이즈예요,아주 만족해요,화면과 비슷해요,162cm,42kg,상의 44,단독으로 입었을 때랑 가디건과 코디했을 때 사진입니다! 다른 슬리브리스들보다 목이 ...
4,ubapJRzN,상위 10%,24.11.15,[TT242] 슬론 골지 나시_단가라,NaN,정사이즈예요,아주 만족해요,화면과 비슷해요,160cm,67kg,상의 77,1번사진: 제 부유방 보여드릴려고 일부러 접어입었어요\n2번사진: 이거 니트가 다 ...
...,...,...,...,...,...,...,...,...,...,...,...,...
995,CZsfeTep,NaN,24.07.12,[TT242] 슬론 골지 나시_아이보리,NaN,정사이즈예요,보통이에요,화면과 비슷해요,172cm,50kg,상의 55,생각했던 재질과 사이즈 입니다 기본 티로 가지고 있기 좋습니다! 다른 색상도 구매하...
996,7Vs9qb44,NaN,24.07.11,[TT242] 슬론 골지 나시_아이보리,NaN,정사이즈예요,아주 만족해요,화면과 비슷해요,164cm,54kg,상의 55,핀터레스트 감성과 런닝 그 사이 어딘가에 존재함\n흰색 속옷 비침\n흰색도 땀 젖으...
997,rZCk2XHr,상위 30%,24.07.11,[TT242] 슬론 골지 나시_연그레이,NaN,정사이즈예요,아주 만족해요,화면과 비슷해요,155cm,54kg,상의 55,부유방 잘잡아줘요! 뱃살은 어쩔수없고 ㅎㅎ하이웨이스트 바지랑 입으면 될것같아용. 무...
998,BLt5lOiB,NaN,24.07.10,[TT242] 슬론 골지 나시_연베이지,NaN,정사이즈예요,보통이에요,화면과 비슷해요,163cm,55kg,상의 55,작을줄 알았는데 쫀쫀하니 잘 맞네요. 길이 적당하고 색상도 맘에 들어요. 부유방 커...
999,O0wwzyeV,상위 10%,24.07.10,[TT242] 슬론 골지 나시_단가라,NaN,정사이즈예요,아주 만족해요,화면과 비슷해요,157cm,47kg,상의 55,저는 늘 겨드랑이부분이 뜨거나 아니면 너무 끼거나 둘중 하나여서 나시입는거 포기했는...

In [327]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   아이디     1000 non-null   object
 1   리뷰어 등급  405 non-null    object
 2   작성 날짜   1000 non-null   object
 3   옵션1     990 non-null    object
 4   옵션2     158 non-null    object
 5   상품 사이즈  999 non-null    object
 6   퀄리티     999 non-null    object
 7   색감      999 non-null    object
 8   키       910 non-null    object
 9   몸무게     907 non-null    object
 10  사이즈     894 non-null    object
 11  리뷰내용    1000 non-null   object
dtypes: object(12)
memory usage: 93.9+ KB

In [298]:
df["아이디"].value_counts()

아이디
HBs99VQO     5
cDZDX2eB     5
jj08****     4
3RP4sd2d     3
whdt*****    3
            ..
MLS1UmaC     1
UVr82s2c     1
TI6pexHW     1
Wy8PZbEp     1
cTsW3azd     1
Name: count, Length: 381, dtype: int64

In [299]:
df["아이디"].describe()

count          510
unique         381
top       HBs99VQO
freq             5
Name: 아이디, dtype: object

In [300]:
df["리뷰어 등급"].value_counts()

리뷰어 등급
상위 15%    21
상위 20%    18
상위 5%     17
상위 30%    17
상위 10%    16
상위 25%    15
Name: count, dtype: int64

In [301]:
df["리뷰어 등급"].describe()

count        104
unique         6
top       상위 15%
freq          21
Name: 리뷰어 등급, dtype: object

In [303]:
df["리뷰어 등급"].unique()

array(['상위 5%', '상위 15%', '상위 30%', '상위 10%', nan, '상위 20%', '상위 25%'],
      dtype=object)

In [304]:
df["작성 날짜"].describe()

count          510
unique         167
top       24.06.22
freq            10
Name: 작성 날짜, dtype: object

In [305]:
df["작성 날짜"].unique()

array(['24.05.19', '25.01.09', '24.07.12', '24.06.29', '24.06.24',
       '24.06.01', '25.01.12', '24.09.22', '24.08.18', '24.06.08',
       '24.08.31', '24.08.19', '24.07.17', '24.07.11', '24.07.06',
       '24.07.02', '24.07.01', '24.06.27', '24.06.26', '24.06.25',
       '24.06.15', '24.06.11', '24.06.02', '24.05.15', '24.05.12',
       '24.05.08', '24.05.07', '24.05.02', '24.04.28', '24.04.27',
       '24.04.24', '24.04.23', '24.10.03', '24.09.25', '24.09.23',
       '24.09.20', '24.09.09', '24.08.28', '24.06.12', '24.08.24',
       '24.07.21', '24.04.22', '24.04.17', '24.10.17', '24.09.11',
       '24.08.15', '24.08.13', '24.07.30', '24.07.20', '24.07.09',
       '24.07.05', '24.06.16', '24.06.09', '24.05.16', '24.05.05',
       '24.05.03', '24.04.30', '24.04.21', '24.04.20', '24.09.08',
       '24.09.07', '24.09.06', '24.07.23', '24.09.19', '24.07.28',
       '24.07.03', '24.06.28', '24.06.19', '24.05.23', '24.04.29',
       '24.11.02', '24.09.26', '24.09.12', '24.08.10', '24.07.22',
       '24.07.16', '24.07.10', '24.05.17', '24.05.01', '24.08.29',
       '24.08.17', '24.07.24', '24.05.31', '24.05.30', '24.11.12',
       '24.09.04', '24.08.27', '24.08.08', '24.08.01', '24.06.04',
       '24.05.29', '24.05.28', '24.05.20', '24.05.13', '24.04.25',
       '24.12.29', '24.12.04', '24.10.29', '24.11.10', '24.07.07',
       '24.07.04', '24.06.30', '24.06.13', '24.09.10', '24.08.20',
       '24.06.22', '24.06.20', '24.06.07', '24.05.11', '24.05.09',
       '24.12.01', '24.11.01', '24.09.21', '24.09.03', '24.12.14',
       '24.09.17', '24.09.29', '24.07.18', '24.06.14', '24.06.05',
       '25.01.06', '24.06.10', '24.10.16', '24.09.13', '24.08.23',
       '24.07.08', '24.06.18', '24.08.12', '24.08.02', '24.07.14',
       '24.09.15', '24.05.14', '24.10.23', '24.05.27', '24.12.23',
       '24.09.18', '24.07.26', '24.11.23', '24.09.01', '24.05.24',
       '24.04.18', '24.05.04', '24.11.19', '24.11.16', '24.10.06',
       '24.05.10', '24.11.17', '24.08.30', '24.07.29', '24.06.06',
       '24.05.22', '24.08.14', '24.08.07', '24.07.25', '24.12.15',
       '24.07.27', '24.06.23', '24.05.06', '24.09.16', '25.01.05',
       '25.01.02', '24.11.22', '24.10.04', '24.09.05', '24.08.22',
       '24.07.13', '24.05.25', nan], dtype=object)

In [306]:
df["옵션1"].value_counts()

옵션1
+7cm롱기장         305
크롭기장            172
Ivory (오늘출발)     12
Black (오늘출발)      7
Ivory             6
Black             2
Pink              2
Pink (오늘출발)       2
Cream             1
SkyBlue           1
Name: count, dtype: int64

In [307]:
df["옵션1"].unique()

array(['+7cm롱기장', 'Ivory (오늘출발)', 'Black (오늘출발)', '크롭기장', 'Cream',
       'Ivory', 'Black', 'Pink (오늘출발)', 'SkyBlue', 'Pink', nan],
      dtype=object)

In [308]:
df["옵션2"].value_counts()

옵션2
Ivory (오늘출발)      198
Black (오늘출발)      101
Ivory              81
Free               30
Cream (오늘출발)       24
Gray (오늘출발)        20
Black              19
SkyBlue (오늘출발)     13
Pink (오늘출발)        10
Gray                7
L                   3
Cream               2
Pink                1
SkyBlue             1
Name: count, dtype: int64

In [309]:
df["옵션2"].unique()

array(['Black (오늘출발)', 'Free', 'Ivory', 'Ivory (오늘출발)', 'Cream (오늘출발)',
       'Gray (오늘출발)', 'SkyBlue (오늘출발)', 'Black', 'Cream', 'Gray', 'L',
       'Pink', 'SkyBlue', 'Pink (오늘출발)', nan], dtype=object)

In [310]:
df["상품 사이즈"].value_counts()

상품 사이즈
정사이즈예요     459
작아요         38
생각보다 커요     13
Name: count, dtype: int64

In [311]:
df["상품 사이즈"].describe()

count        510
unique         3
top       정사이즈예요
freq         459
Name: 상품 사이즈, dtype: object

In [312]:
df["상품 사이즈"].unique()

array(['작아요', '정사이즈예요', '생각보다 커요', nan], dtype=object)

In [313]:
df["퀄리티"].value_counts()

퀄리티
보통이에요      276
아주 만족해요    221
별로예요        13
Name: count, dtype: int64

In [282]:
df["퀄리티"].describe()

count       510
unique        3
top       보통이에요
freq        276
Name: 퀄리티, dtype: object

In [314]:
df["퀄리티"].unique()

array(['보통이에요', '아주 만족해요', '별로예요', nan], dtype=object)

In [315]:

df["색감"].value_counts()

색감
화면과 비슷해요     507
화면보다 어두워요      3
Name: count, dtype: int64

In [316]:
df["색감"].describe()

count          510
unique           2
top       화면과 비슷해요
freq           507
Name: 색감, dtype: object

In [317]:
df["색감"].unique()

array(['화면과 비슷해요', '화면보다 어두워요', nan], dtype=object)

In [287]:
df["키"].value_counts()

키
160cm       72
163cm       51
158cm       44
165cm       32
155cm       31
164cm       29
162cm       25
161cm       23
168cm       20
167cm       19
170cm       18
159cm       16
166cm       15
172cm       14
156cm       11
157cm       11
171cm       10
169cm        9
153cm        6
173cm        5
154cm        4
152cm        4
175cm        2
150cm        1
151cm        1
174cm        1
130cm 이하     1
147cm        1
Name: count, dtype: int64

In [318]:
df["키"].describe()

count       476
unique       28
top       160cm
freq         72
Name: 키, dtype: object

In [319]:
df["키"].unique()

array(['160cm', nan, '157cm', '167cm', '161cm', '164cm', '172cm', '156cm',
       '169cm', '155cm', '158cm', '153cm', '163cm', '165cm', '162cm',
       '159cm', '168cm', '170cm', '166cm', '173cm', '150cm', '171cm',
       '152cm', '154cm', '151cm', '175cm', '174cm', '130cm 이하', '147cm'],
      dtype=object)

In [320]:
df["몸무게"].value_counts()

몸무게
50kg       59
48kg       37
52kg       32
55kg       27
45kg       26
58kg       25
49kg       24
53kg       23
47kg       21
54kg       19
57kg       18
44kg       16
62kg       15
51kg       15
59kg       14
56kg       14
60kg       13
46kg       13
42kg        8
65kg        8
43kg        8
63kg        5
69kg        5
64kg        4
41kg        4
68kg        3
61kg        3
70kg        3
74kg        2
40kg        2
38kg        2
71kg        2
39kg        2
66kg        1
75kg        1
30kg 이하     1
Name: count, dtype: int64

In [321]:
df["몸무게"].describe()

count      475
unique      36
top       50kg
freq        59
Name: 몸무게, dtype: object

In [322]:
df["몸무게"].unique()

array(['42kg', nan, '55kg', '45kg', '51kg', '66kg', '53kg', '50kg',
       '62kg', '60kg', '65kg', '49kg', '57kg', '58kg', '52kg', '54kg',
       '64kg', '56kg', '61kg', '40kg', '46kg', '47kg', '59kg', '63kg',
       '44kg', '48kg', '68kg', '41kg', '43kg', '71kg', '70kg', '75kg',
       '38kg', '69kg', '30kg 이하', '39kg', '74kg'], dtype=object)

In [323]:
df["사이즈"].value_counts()

사이즈
상의 55       256
상의 44       134
상의 66        75
상의 77         3
상의 33 이하      2
상의 99 이상      1
Name: count, dtype: int64

In [324]:
df["사이즈"].describe()

count       471
unique        6
top       상의 55
freq        256
Name: 사이즈, dtype: object

In [325]:
df["사이즈"].unique()

array(['상의 44', nan, '상의 55', '상의 66', '상의 99 이상', '상의 77', '상의 33 이하'],
      dtype=object)