#### 문제점
- 1. 0번이 nan 값으로 뽑혀가지고. 1000개를 추출했지만 999개이다.

In [13]:
import pandas as pd

In [14]:
df = pd.read_csv(r"C:\Users\asia\Desktop\ai_project\슬리브리스\슬리브리스_p2_111217060.csv")
df

,아이디,리뷰어 등급,작성 날짜,옵션1,옵션2,상품 사이즈,퀄리티,색감,키,몸무게,사이즈,리뷰내용
0,나애옷장,상위 1%,25.01.09,[TT037] 보들쫀쫀 끈나시_화이트(골지),FREE,정사이즈예요,아주 만족해요,화면과 비슷해요,155cm,46kg,NaN,"☁️ 믿고 사는 데일리템, 조이조이 보들쫀쫀 골지 나시\r\n\r\n☁️ 2024...."
1,무민민무,상위 5%,24.07.09,[TT037] 보들쫀쫀 끈나시_단가라,FREE,정사이즈예요,아주 만족해요,화면과 비슷해요,165cm,53kg,상의 55,생각보다 도톰했어요~! 그리고 안에 이너 사야한다는걸 깜빡해서 고냥 끈 풀고 입었는...
2,5145**,NaN,24.06.24,[TT037] 보들쫀쫀 끈나시_화이트(골지),FREE,정사이즈예요,아주 만족해요,화면과 비슷해요,160cm,54kg,상의 66,스파오에서 골지 나시를 사서 입어보고 빳빳한 골지에 반해서 더 사려고 했는데 품절이...
3,k7RVT5WW,NaN,24.06.09,[TT037] 보들쫀쫀 끈나시_단가라,FREE,작아요,아주 만족해요,화면과 비슷해요,158cm,75kg,상의 77,길다는 후기를보고 샀는디..가슴있으신 분들은 더 짧아집니다...생각보다 쫀쫀하고 거...
4,돈은없지만옷은사고파,상위 5%,24.11.27,[TT037] 보들쫀쫀 끈나시_단가라(★롱기장),FREE,작아요,아주 만족해요,화면과 비슷해요,165cm,55kg,상의 55,상체 발달형에다가 상체가 짧아서 허리선을 가리면 너무 뚱뚱해보이고 부해보이고 너무 ...
...,...,...,...,...,...,...,...,...,...,...,...,...
995,VG1t9uG0,상위 20%,24.04.29,[TT037] 보들쫀쫀 끈나시_단가라(★롱기장),FREE,정사이즈예요,아주 만족해요,화면과 비슷해요,168cm,54kg,상의 55,탄탄하고 쫀쫀하니 좋아요! 유교걸인데 가디건 안에 받쳐입기에 딱 좋네요! 길이는 고...
996,SKcBoMJO,NaN,24.04.27,[TT037] 보들쫀쫀 끈나시_그레이(골지),FREE,정사이즈예요,보통이에요,화면과 비슷해요,171cm,53kg,상의 66,골지는 롱 사이즈가 없어서 기본 사이즈로 구매했습니다 길이가 딱 맞아서 괜찮긴 한데...
997,2zX0wkcw,NaN,24.04.26,[TT037] 보들쫀쫀 끈나시_단가라(★롱기장),FREE,정사이즈예요,아주 만족해요,화면과 비슷해요,NaN,NaN,NaN,연베이지 바탕에 블랙 스트라이프가 깔끔하구요 쇄골 아래까지 올라와서 노출 신경 안 ...
998,2zX0wkcw,NaN,24.04.26,[TT037] 보들쫀쫀 끈나시_화이트(골지)(★롱기장),FREE,정사이즈예요,아주 만족해요,화면과 비슷해요,NaN,NaN,NaN,화이트 색상만 두 개를 구입했을 정도로 활용도도 높고 기장도 너무나 마음에 듭니다 ...
999,L1Zqqt1g,상위 5%,24.04.26,[TT037] 보들쫀쫀 끈나시_단가라(★롱기장),FREE,정사이즈예요,보통이에요,화면과 비슷해요,164cm,52kg,상의 55,롱하기 잘한것같아요.\r\n롱도 생각보다 많이 안길고 골반정도 길이감이라서 딱 좋고...

In [15]:
df["리뷰어 등급"].value_counts()

리뷰어 등급
상위 5%     85
상위 15%    78
상위 10%    67
상위 25%    62
상위 20%    60
상위 30%    44
상위 1%     10
탑리뷰어       6
Name: count, dtype: int64

In [16]:
df["옵션1"].value_counts()

옵션1
[TT037] 보들쫀쫀 끈나시_단가라              248
[TT037] 보들쫀쫀 끈나시_단가라(★롱기장)        119
단가라                                85
[TT037] 보들쫀쫀 끈나시_화이트(골지)           80
[TT037] 보들쫀쫀 끈나시_그레이(골지)           78
[TT037] 보들쫀쫀 끈나시_블랙(골지)            49
단가라(★롱기장)                          45
[TT037] 보들쫀쫀 끈나시_화이트(골지)(★롱기장)     44
[TT037] 보들쫀쫀 끈나시_블랙(골지)(★롱기장)      37
[TT036] 보들쫀쫀 끈나시_화이트(민자)           34
화이트(골지)                            34
블랙(골지)                             23
그레이(골지)                            22
[TT037] 보들쫀쫀 끈나시_화이트(민자)(★롱기장)     15
블랙(골지)(★롱기장)                       15
[TT036] 보들쫀쫀 끈나시_블랙(민자)            13
화이트(골지)(★롱기장)                      13
[TT037] 보들쫀쫀 끈나시_블랙(민자)(★롱기장)      10
화이트(민자)                             9
블랙(민자)                              8
[TT036] 보들쫀쫀 끈나시_핑크(민자)             6
화이트(민자)(★롱기장)                       3
블랙(민자)(★롱기장)                        2
스킨(골지)                              2
[TT036] 보들쫀쫀 끈나시_베이지(민자)            2
핑크(민자)                              1
White (Golji)                       1
[TT037] 보들쫀쫀 끈나시_스킨(골지)             1
베이지(민자)                             1
Name: count, dtype: int64

In [17]:
df["옵션2"].value_counts()

옵션2
FREE    1000
Name: count, dtype: int64

In [18]:
df["옵션2"].describe()

count     1000
unique       1
top       FREE
freq      1000
Name: 옵션2, dtype: object

In [19]:
df["옵션2"].unique()

array(['FREE'], dtype=object)

In [20]:
df["상품 사이즈"].value_counts()

상품 사이즈
정사이즈예요     916
작아요         65
생각보다 커요     19
Name: count, dtype: int64

In [21]:
df["상품 사이즈"].describe()

count       1000
unique         3
top       정사이즈예요
freq         916
Name: 상품 사이즈, dtype: object

In [22]:
df["퀄리티"].value_counts()

퀄리티
아주 만족해요    644
보통이에요      350
별로예요         6
Name: count, dtype: int64

In [10]:
df["퀄리티"].describe()

count        1000
unique          3
top       아주 만족해요
freq          644
Name: 퀄리티, dtype: object

In [22]:
df["퀄리티"].unique()

array([nan, '보통이에요', '아주 만족해요', '별로예요'], dtype=object)

In [23]:

df["색감"].value_counts()

색감
화면과 비슷해요     985
화면보다 어두워요     12
화면보다 밝아요       2
Name: count, dtype: int64

In [24]:
df["색감"].describe()

count          999
unique           3
top       화면과 비슷해요
freq           985
Name: 색감, dtype: object

In [25]:
df["색감"].unique()

array([nan, '화면과 비슷해요', '화면보다 어두워요', '화면보다 밝아요'], dtype=object)

In [27]:
df["키"].value_counts()

키
160cm       111
158cm        88
163cm        83
164cm        74
159cm        65
162cm        53
168cm        51
165cm        49
161cm        48
166cm        46
156cm        40
157cm        37
167cm        33
155cm        31
153cm        26
170cm        20
169cm        20
154cm        18
172cm        10
171cm         8
173cm         6
152cm         6
150cm         6
151cm         4
175cm         3
148cm         1
130cm 이하      1
174cm         1
Name: count, dtype: int64

In [28]:
df["키"].describe()

count       939
unique       28
top       160cm
freq        111
Name: 키, dtype: object

In [29]:
df["키"].unique()

array([nan, '164cm', '163cm', '156cm', '167cm', '155cm', '161cm', '166cm',
       '170cm', '159cm', '162cm', '160cm', '168cm', '153cm', '173cm',
       '169cm', '157cm', '158cm', '165cm', '154cm', '172cm', '171cm',
       '152cm', '175cm', '151cm', '150cm', '148cm', '130cm 이하', '174cm'],
      dtype=object)

In [30]:
df["몸무게"].value_counts()

몸무게
50kg        107
48kg         89
52kg         81
55kg         72
53kg         70
47kg         51
46kg         40
60kg         38
49kg         38
54kg         38
45kg         38
51kg         35
56kg         31
43kg         31
58kg         26
57kg         26
44kg         15
42kg         14
63kg         12
59kg         11
41kg          8
65kg          8
67kg          7
64kg          6
62kg          6
61kg          6
40kg          5
38kg          4
70kg          4
39kg          4
66kg          2
30kg 이하       2
68kg          2
35kg          1
130kg 이상      1
37kg          1
69kg          1
72kg          1
상의 55         1
Name: count, dtype: int64

In [31]:
df["몸무게"].describe()

count      933
unique      39
top       50kg
freq       107
Name: 몸무게, dtype: object

In [32]:
df["몸무게"].unique()

array([nan, '56kg', '58kg', '50kg', '52kg', '48kg', '47kg', '54kg',
       '53kg', '55kg', '45kg', '43kg', '51kg', '42kg', '46kg', '130kg 이상',
       '61kg', '49kg', '65kg', '35kg', '57kg', '60kg', '64kg', '39kg',
       '70kg', '30kg 이하', '68kg', '44kg', '37kg', '41kg', '38kg', '40kg',
       '67kg', '59kg', '66kg', '69kg', '63kg', '62kg', '72kg', '상의 55'],
      dtype=object)

In [33]:
df["사이즈"].value_counts()

사이즈
상의 55       512
상의 44       273
상의 66       117
상의 77         7
상의 33 이하      7
상의 88         1
Name: count, dtype: int64

In [34]:
df["사이즈"].describe()

count       917
unique        6
top       상의 55
freq        512
Name: 사이즈, dtype: object

In [35]:
df["사이즈"].unique()

array([nan, '상의 55', '상의 66', '상의 44', '상의 77', '상의 33 이하', '상의 88'],
      dtype=object)