#### 문제점
- 1. 0번이 nan 값으로 뽑혀가지고. 1000개를 추출했지만 999개이다.

In [34]:
import pandas as pd

In [97]:
df = pd.read_csv(r"C:\Users\asia\Desktop\ai_project\슬리브리스\슬리브리스_p14_147232850.csv")
df

,아이디,리뷰어 등급,작성 날짜,옵션1,옵션2,상품 사이즈,퀄리티,색감,키,몸무게,사이즈,리뷰내용
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,루또,탑리뷰어,24.07.30,2매입,그레이 FREE 1매,정사이즈예요,아주 만족해요,화면과 비슷해요,160cm,49kg,상의 55,죄송합니다 마른파이브. 당신을 오해했습니다.\n\n아 이게 무슨 소리냐고요? 제 후...
2,나아니면누구뽑을건데,상위 5%,24.08.21,2매입,아이보리 FREE 1매,정사이즈예요,아주 만족해요,화면과 비슷해요,158cm,47kg,상의 55,✔️프로필 키 158 55 사이즈 xs-s 상체에 비해 하체통통\n셔츠 안에 입을만...
3,TInSBp4J,상위 15%,24.12.05,F/L,아이보리,정사이즈예요,아주 만족해요,화면과 비슷해요,160cm,43kg,상의 44,모달면이라 아주아주 부드럽습니다! 캡내장나시를 살 때 제일 중요한건 캡의 딱딱함? ...
4,TInSBp4J,상위 15%,24.12.05,F/L,블랙,정사이즈예요,아주 만족해요,화면과 비슷해요,160cm,43kg,상의 44,모달면이라 아주아주 부드럽습니다! 캡내장나시를 살 때 제일 중요한건 캡의 딱딱함? ...
...,...,...,...,...,...,...,...,...,...,...,...,...
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   아이디     747 non-null    object
 1   리뷰어 등급  185 non-null    object
 2   작성 날짜   747 non-null    object
 3   옵션1     737 non-null    object
 4   옵션2     737 non-null    object
 5   상품 사이즈  747 non-null    object
 6   퀄리티     747 non-null    object
 7   색감      747 non-null    object
 8   키       660 non-null    object
 9   몸무게     655 non-null    object
 10  사이즈     633 non-null    object
 11  리뷰내용    747 non-null    object
dtypes: object(12)
memory usage: 93.9+ KB

In [99]:
df["아이디"].value_counts()

아이디
4VqsFQun      7
z0BKvIXo      7
M2XclzUM      7
rHwyA1qJ      7
SOzI2ud4      7
             ..
oRk9l8dt      1
카야토스트         1
xPz9nJvO      1
E1BJIs8y      1
나아니면누구뽑을건데    1
Name: count, Length: 622, dtype: int64

In [100]:
df["아이디"].describe()

count          747
unique         622
top       4VqsFQun
freq             7
Name: 아이디, dtype: object

In [101]:
df["리뷰어 등급"].value_counts()

리뷰어 등급
상위 15%    43
상위 10%    35
상위 25%    34
상위 20%    30
상위 30%    23
상위 5%     17
탑리뷰어       2
상위 1%      1
Name: count, dtype: int64

In [102]:
df["리뷰어 등급"].describe()

count        185
unique         8
top       상위 15%
freq          43
Name: 리뷰어 등급, dtype: object

In [103]:
df["리뷰어 등급"].unique()

array([nan, '탑리뷰어', '상위 5%', '상위 15%', '상위 1%', '상위 10%', '상위 25%',
       '상위 20%', '상위 30%'], dtype=object)

In [104]:
df["작성 날짜"].describe()

count          747
unique         151
top       24.08.21
freq            21
Name: 작성 날짜, dtype: object

In [105]:
df["작성 날짜"].unique()

array([nan, '24.07.30', '24.08.21', '24.12.05', '24.11.29', '24.11.21',
       '24.10.19', '24.10.02', '24.09.25', '24.09.12', '24.09.08',
       '24.08.29', '24.08.17', '24.08.11', '24.08.08', '24.12.31',
       '24.12.19', '24.12.18', '24.12.06', '24.12.04', '24.11.16',
       '24.11.11', '24.11.04', '24.10.31', '24.10.22', '24.08.23',
       '24.08.13', '24.11.14', '24.09.21', '24.09.15', '24.09.14',
       '24.09.03', '24.08.28', '24.08.24', '24.08.22', '24.08.20',
       '24.08.16', '24.08.10', '24.08.07', '24.08.06', '24.08.05',
       '24.08.04', '24.08.03', '24.08.01', '25.01.06', '24.12.25',
       '24.12.03', '24.12.01', '24.11.20', '24.11.12', '24.11.25',
       '24.11.19', '24.11.13', '24.10.14', '24.10.11', '24.10.08',
       '24.10.06', '24.10.03', '24.09.23', '24.09.22', '24.09.19',
       '24.09.18', '24.09.17', '24.09.13', '24.09.11', '24.09.10',
       '24.09.09', '24.09.07', '24.09.06', '24.08.27', '24.08.19',
       '24.07.31', '24.12.15', '24.12.13', '24.11.30', '24.10.01',
       '24.08.09', '25.01.07', '24.12.11', '24.11.24', '24.10.27',
       '24.10.12', '24.09.26', '24.09.16', '24.09.02', '24.08.25',
       '24.08.15', '24.08.12', '25.01.13', '25.01.09', '25.01.03',
       '24.12.14', '24.11.15', '24.10.23', '24.10.05', '24.09.27',
       '24.08.30', '24.08.26', '24.08.18', '24.08.14', '24.12.23',
       '24.11.27', '24.11.02', '24.09.28', '24.09.20', '24.09.05',
       '24.08.02', '24.12.27', '24.12.21', '24.12.16', '24.10.25',
       '24.10.17', '24.10.09', '24.11.28', '24.11.18', '24.11.17',
       '24.10.30', '24.10.15', '24.08.31', '24.09.29', '24.11.01',
       '24.10.26', '24.10.18', '24.09.01', '24.12.10', '24.11.26',
       '24.10.10', '24.09.04', '24.12.20', '24.10.29', '24.10.04',
       '24.09.24', '25.01.12', '24.11.07', '24.11.05', '24.09.30',
       '24.12.09', '24.12.02', '25.01.04', '24.12.07', '25.01.10',
       '25.01.02', '25.01.01', '24.12.22', '24.10.07', '24.12.24',
       '25.01.15', '25.01.05', '24.12.29', '24.11.10', '24.11.08',
       '24.10.13'], dtype=object)

In [106]:
df["옵션1"].value_counts()

옵션1
2매입            425
F/L            165
XL              83
[10%] 4매입       51
2XL             12
Two Tickets      1
Name: count, dtype: int64

In [76]:
df["옵션1"].unique()

array(['화이트', '블랙', 'Black', '그레이', 'Gray'], dtype=object)

In [77]:
df["옵션2"].value_counts()

옵션2
FREE    467
Name: count, dtype: int64

In [78]:
df["옵션2"].unique()

array([nan, 'FREE'], dtype=object)

In [79]:
df["상품 사이즈"].value_counts()

상품 사이즈
정사이즈예요     874
작아요        103
생각보다 커요     21
Name: count, dtype: int64

In [80]:
df["상품 사이즈"].describe()

count        998
unique         3
top       정사이즈예요
freq         874
Name: 상품 사이즈, dtype: object

In [81]:
df["상품 사이즈"].unique()

array(['정사이즈예요', '작아요', '생각보다 커요', nan], dtype=object)

In [82]:
df["퀄리티"].value_counts()

퀄리티
보통이에요      552
아주 만족해요    437
별로예요         9
Name: count, dtype: int64

In [83]:
df["퀄리티"].describe()

count       998
unique        3
top       보통이에요
freq        552
Name: 퀄리티, dtype: object

In [84]:
df["퀄리티"].unique()

array(['보통이에요', '아주 만족해요', '별로예요', nan], dtype=object)

In [85]:

df["색감"].value_counts()

색감
화면과 비슷해요     989
화면보다 밝아요       6
화면보다 어두워요      3
Name: count, dtype: int64

In [86]:
df["색감"].describe()

count          998
unique           3
top       화면과 비슷해요
freq           989
Name: 색감, dtype: object

In [87]:
df["색감"].unique()

array(['화면과 비슷해요', '화면보다 밝아요', '화면보다 어두워요', nan], dtype=object)

In [88]:
df["키"].value_counts()

키
160cm       114
158cm       106
163cm        77
168cm        62
164cm        57
162cm        53
165cm        52
159cm        42
161cm        39
166cm        38
167cm        36
170cm        35
155cm        33
153cm        29
156cm        25
169cm        22
157cm        22
154cm        16
150cm        13
173cm        12
171cm        10
172cm        10
152cm         6
175cm         4
174cm         4
151cm         4
130cm 이하      2
148cm         1
147cm         1
199cm         1
149cm         1
200cm 이상      1
176cm         1
Name: count, dtype: int64

In [89]:
df["키"].describe()

count       929
unique       33
top       160cm
freq        114
Name: 키, dtype: object

In [90]:
df["키"].unique()

array(['160cm', '167cm', '148cm', '168cm', '165cm', '171cm', '166cm',
       '157cm', '161cm', '150cm', '162cm', '158cm', '163cm', '159cm', nan,
       '170cm', '164cm', '169cm', '156cm', '174cm', '155cm', '152cm',
       '154cm', '153cm', '172cm', '175cm', '173cm', '130cm 이하', '151cm',
       '147cm', '199cm', '149cm', '200cm 이상', '176cm'], dtype=object)

In [91]:
df["몸무게"].value_counts()

몸무게
50kg        117
53kg         73
55kg         66
48kg         54
52kg         53
49kg         47
54kg         47
60kg         38
57kg         38
51kg         37
47kg         36
46kg         34
58kg         32
45kg         32
56kg         32
44kg         23
62kg         18
43kg         17
42kg         16
65kg         13
59kg         12
40kg         11
64kg         10
30kg 이하       9
63kg          8
70kg          8
41kg          8
61kg          6
66kg          6
67kg          5
130kg 이상      3
39kg          3
37kg          2
75kg          2
71kg          2
68kg          2
90kg          1
76kg          1
73kg          1
38kg          1
86kg          1
118kg         1
34kg          1
Name: count, dtype: int64

In [92]:
df["몸무게"].describe()

count      927
unique      43
top       50kg
freq       117
Name: 몸무게, dtype: object

In [93]:
df["몸무게"].unique()

array(['46kg', '49kg', '40kg', '53kg', '50kg', '65kg', '55kg', '66kg',
       '57kg', '58kg', '37kg', '52kg', '48kg', nan, '42kg', '47kg',
       '56kg', '54kg', '45kg', '64kg', '60kg', '51kg', '44kg', '62kg',
       '41kg', '63kg', '90kg', '59kg', '61kg', '76kg', '67kg', '30kg 이하',
       '43kg', '71kg', '68kg', '70kg', '39kg', '73kg', '38kg', '130kg 이상',
       '75kg', '86kg', '118kg', '34kg'], dtype=object)

In [94]:
df["사이즈"].value_counts()

사이즈
상의 55       513
상의 44       272
상의 66       117
상의 33 이하      7
상의 77         5
상의 99 이상      4
상의 88         3
Name: count, dtype: int64

In [95]:
df["사이즈"].describe()

count       921
unique        7
top       상의 55
freq        513
Name: 사이즈, dtype: object

In [96]:
df["사이즈"].unique()

array(['상의 44', '상의 55', '상의 66', nan, '상의 33 이하', '상의 88', '상의 99 이상',
       '상의 77'], dtype=object)